
.l1{
    list-style: none;
}
.l2{
    list-style: none;   
}
* {box-sizing: border-box}
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    height: 20px;
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    height: 5px;
  }
  
  .html {
      width: 90%; background-color: #04AA6D; height: 5px;
    }
    .css {width: 90%; background-color:#04AA6D;}
.js {width: 65%; background-color: #04AA6D;}
.php {width: 75%; background-color: #04AA6D;}